
/*main{

    margin-top: 160px;
    padding-top: 20px;
    
}
.main-recommended-products{
    background-color: #ECE9E9;
  padding: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}
  
  .main-conteiner1 {
    background-color: #ECE9E9;
    padding: 100px;
    text-align: center;
  }
  .main-conteiner2{
    background-color: #D3DCDE;
    padding: 100px;
    text-align: center;
    
  }*/


.h1home{
  margin-top: -100px;
 text-align: center;

  font-family: 'Open Sans', sans-serif;


}
 


  